footer {
    background-color: rgb(73, 64, 64);
    .pie__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sub__pie {
        color: rgb(51, 9, 9);
        font-size: 2.5em;
        padding: 0.5rem 0;
    }
    .public__pie {
        padding: 0.5rem 0;
    }
    .desc__pie {
        padding: 0.5rem 0;
    }
    .three__container {
        display: flex;
        justify-content: center;
    }
    .info__pie {
        text-align: center;
        font-size: 1rem;
    }
}